# IDE Support files
.idea/
.settings/
.vscode/
.classpath
.project
*.iml
*.iws

# Compilation outputs
target/
*.class
*.jar
*.war
*.log

# Mac OS files
.DS_Store

# Maven
.mvn/wrapper/maven-wrapper.jar
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup

# Custom PoC exclusions
mock-hsm.p12
maven-bin/
maven.zip
signed-*.pdf
